* {

	margin:0;
	padding:0;
	} 
html, body {
    max-height: 100%;
	max-width:100%;
	font-family: Sans-Serif;
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
  	padding: .3em;
	padding-left: 2em;
}

div{

	float:left;
	max-width:49%;
	width:15em;
	height:100%;
	position: relative;
}
table, tr{
	  margin-right: auto;
  margin-left: 1em;;
}
td{
	padding: .3em;
	border-bottom: 1px solid #ddd;
}
.selected{
	background-color: #cccccc;
}
a:link {
    text-decoration: none;
	color:#000000;
}

a:visited {
    text-decoration: none;
	color:#000000;
}

a:hover {
    text-decoration: underline;
	background-color: #eeeeee;
}

a:active {
    text-decoration: underline;
	background-color: #cccccc;
}
#topnav {
max-width: 99%;
width:100%;
height:1em;
padding: .3em;
border-bottom: 1px solid #ddd;
}
#topnav li {
display: inline;
}

#main{
	clear:left;
	margin-top:1em;
	border-right: 1px solid #ddd;
}
#exlist{
	border-left: 1px solid #ddd;
}
#logview{
	margin-top:1em;
	width:30em;
}
#rightpan{
max-width:20%;
width:20em;
}
#statbar{
background-color: #ccccff;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
max-width: 100%;
height:1.2em;
clear:left;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.hidden{
visibility: hidden;
}
#exusername {
    border: none;
	background-color: #cccccc;
	padding: .3em;
	border-radius: 5px;
}
.smallimg{
width:1em;
padding-right:.2em;
}
#rightpan{
	float:right;
}
#exnav{
	width:100%;
}
